#email-address {
  font-size: 10px;
}
#icon-container{
  margin-top: 4em;
  text-align:center;
}
#buttons{
  margin-top: 1em;
}
#buttons a{
  margin: 3em 0;
}
.centered{
  text-align: center;
}
.centeredAudio{
  margin-top: 4em;
  text-align: center;
}
#map_canvas { height: 310px; width: 100%; margin: 0px; padding: 0px }
.crosshair {position: absolute; top: 120px; left: 0px;}
.left, .right, .top, .bottom {position: relative; background-color: #000; float: left;}
.left, .right {height: 10px; width: 60px;}
.top, .bottom {height: 60px; width: 10px;}
.top    {top: 0px; left: 155px;}
.left   {top: 85px; left: 0px;}
.right  {top: 85px; left: 180px;}
.bottom {top: 120px; left: 25px;}